:root {
  font-family: "Times New Roman", serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: 'Geist Sans';
  src: url('/path/to/geist-sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-sans {
  font-family: 'Geist Sans', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: underline;
}
a:hover {
  color: #333333;
}

button {
  border-radius: 0;
  border: 1px solid #000000;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #f0f0f0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #f9f9f9;
  }
  a:hover {
    color: #555555;
  }
  button {
    background-color: #e0e0e0;
  }
}
